input[type=text], textarea, select {
  display: block;
  margin: 5px 0;
}

input[name=title]{
  width: 300px;
}

input[type=button] {
  padding: 4px 8px;
  margin: 0 4px;
  font-weight: bold;
  cursor: pointer;
}

input[type=button].button-confirm-yes {
  background-color: #42AF3E;
}

input[type=button].button-confirm-no {
  background-color: #BD2424;
}

textarea[name=body].post-body {
  height: 200px;
  width: 300px;
}

textarea[name=body].comment-body {
  height: 70px;
  width: 400px;
}

button {
  margin: 5px 5px 0 0;
}

.action-icon {
  cursor: pointer;
}

.action-icon.edit {
  color: #0931CC;
}

.action-icon.delete {
  color: red;
}

.action-icon.up-vote {
  color: #42AF3E;
}

.action-icon.down-vote {
  color: #651E1E;

}

.action-icon.add {
  color: #EEA211
}

.action-icon.save {
  color: #0931CC;
}

.action-icon.cancel {
  color: red;
}

.app-container {
  padding: 0 10px;
  margin: auto;
  width: 1024px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.add-post-modal {
  position: absolute;
  top: 50%;
  left: 50%;  
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 200px;
  height: 410px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.button-add, .button-cancel{
  padding: 4px 8px;
  margin: 12px 4px;
  font-weight: bold;
  cursor: pointer;
}

.button-add {
  background-color: #42AF3E;
}

.button-cancel {
  background-color: #BD2424;
}

.confirm-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 300px;
  max-width: 350px;
  width: 350px;
  height: 65px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.confirm-modal-buttons, .add-post-modal-buttons {
  text-align: center
}

.category-list {
  /*border-radius: 25px;*/
  box-shadow: 5px 5px #6C6969;
  list-style-type: none;
  margin: 0;
  padding: 0;  
  width: 200px;
}

.category-list li {
  border: 1px solid black;
}

.category-list a {
  display: block;
  padding: 4px 4px;
  text-align: left;
  text-decoration: none;
}

.category-section {
  display: inline-block;
  /* float: left; */
  text-align: center;
  vertical-align: top;
  width: 200px;
}

.category-selected {
  background-color: #111143;
  color: white;
}

.comments-list {
  list-style: none;
  margin: 20px;
  padding: 0px;
}

.comments-list li {
  border-bottom: solid 1px #6A5B5B;
  margin: 25px 0 0 0;
  padding: 0 0 5px 0;
}

.no-comments-label{
  color: red;
  padding: 10px 0 0 0 
}

.post-comment-author-date-container {
  font-size: 12px;
  margin: 0 0 10px 0;
}

.post-comment-body {
  padding: 0 0 20px 0;
}

.post-comment-score{
  font-size: 12px;
}

.post-comment-actions{
  font-size: 12px;
  margin: 8px 0 0 0;
}

.post-detail-actions-container {
  margin: 10px 0 0 0;
}

.post-detail-comments-container {
  margin: 10px 0;
}

.post-detail-author-date-container {
  margin: 0 0 10px 0;
}

.post-detail-author, .post-detail-date, .post-detail-score-value,
.post-comment-author, .post-comment-date, .post-comment-score-value { 
  color:blue
}

.post-detail-body {
  /*border: 1px solid black; */
  margin: 20px;
}

.post-detail-container {
  /*border: 1px solid black; */
  margin: 20px 0;
}

.post-list-section {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 824px;
}

.post-list-column-header {
  text-decoration: underline;
  cursor: pointer;
}

.post-list-table {
  margin: 10px;
}

.post-list-table td {
  border: 1px solid;
  /* width: 100%; */
}

